.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav    article  aside"
    "footer footer footer";
  grid-template-rows: repeat(3, 20px);
  grid-template-columns: repeat(3, 400px);
  padding: 10px;
}

.item1 {
  grid-area: header;
  background-color: aqua;
}
.item2 {
  grid-area: nav;
  background-color: blueviolet;
}
.item3 {
  grid-area: article;
  background-color: red;
}
.item4 {
  grid-area: aside;
  background-color: blue;
}
.item5 {
  grid-area: footer;
  background-color: pink;
}
